<div class="container mx-auto flex justify-center ">
  <div class="p-4 mt-8 bg-gray-100 rounded-lg shadow-md sm:p-8 dark:bg-gray-600 dark:border-gray-700">
    <div class="flex justify-between items-center mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Hosts under monitoring</h5>
      <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
          ➕ Add new host
      </a>
 </div>
 <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
              <div class="flex items-center space-x-6">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="/img/ubuntu.svg" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        DESKTOP-SIRBSHC
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                        Public IP: 1.2.3.4
                      </p>
                  </div>
                  <div class="flex-1 min-w-1">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      Ubuntu
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      20.04.3 LTS (Focal Fossa)
                    </p>
                  </div>
                  <div class="flex-1 min-w-1">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      💻 11th Gen Intel(R) Core(TM) i9-11900H @ 2.50GHz

                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      CPUs: 16
                      &nbsp;&nbsp;&nbsp;
                      RAM: 8 GB (38% use)
                      &nbsp;&nbsp;&nbsp;
                      SWAP 2 GB (13% use)
                    </p>
                  </div>

                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                    💽 Disk: 87% 
                  </div>
              </div>
          </li>

      </ul>
 </div>


  </div>
</div>


