<div class="container mx-auto flex justify-center">
  <div
    class="p-4 my-5 mx-5 bg-gray-100 rounded-lg shadow-md sm:p-8 dark:bg-gray-600 dark:border-gray-700"
  >
    <div class="flex justify-between items-center mb-5">
      <div>
        <a
          href="/"
          class="text-white dark:text-gray-800 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800 flex items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
              clip-rule="evenodd"
            />
          </svg>
          Back to hosts list
        </a>
      </div>
    </div>

    <div class="flex justify-between items-center mb-4">
      <h5
        class="mb-5 text-3xl font-bold leading-none text-gray-900 dark:text-white"
      >
        Settings
      </h5>
    </div>
    <div class="w-full block divide-gray-200 dark:divide-gray-700">
      <form action="/api/edit_settings" method="post">
        <div class="mb-5">
          <label
            for="disk_threshold"
            class="block mb-2 text-sm font-semibold text-gray-900 dark:text-gray-200"
          >
            Disck usage threshold in percents.
          </label>
          <input
            name="disk_threshold"
            value="{{this.settings.disk_threshold}}"
            onkeypress="validateNumberOnly()"
            onInput="validateRange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          />
          <p class="text-xs text-gray-400 dark:text-gray-300">
            If disk usage exceeds this value then disk_is_almost_full alert is
            generated
          </p>
        </div>
        <div class="mb-5">
          <label
            for="disk_stabilization_lvl"
            class="block mb-2 text-sm font-semibold text-gray-900 dark:text-gray-200"
          >
            Disk stabilization level in percents.
          </label>
          <input
            name="disk_stabilization_lvl"
            value="{{this.settings.disk_stabilization_lvl}}"
            onkeypress="validateNumberOnly()"
            onInput="validateRange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          />
          <!-- <p class="text-xs text-gray-400 dark:text-gray-300">--------</p> -->
        </div>
        <div class="mb-5">
          <label
            for="ram_threshold"
            class="block mb-2 text-sm font-semibold text-gray-900 dark:text-gray-200"
          >
            Ram usage threshold in percents.
          </label>
          <input
            name="ram_threshold"
            value="{{this.settings.ram_threshold}}"
            onkeypress="validateNumberOnly()"
            onInput="validateRange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          />
          <p class="text-xs text-gray-400 dark:text-gray-300">
            If RAM usage exceeds this value then ram_is_almost_full alert is
            generated.
          </p>
        </div>
        <div class="mb-5">
          <label
            for="ram_stabilization_lvl"
            class="block mb-2 text-sm font-semibold text-gray-900 dark:text-gray-200"
          >
            Ram stabilization level in percents.
          </label>
          <input
            name="ram_stabilization_lvl"
            value="{{this.settings.ram_stabilization_lvl}}"
            onkeypress="validateNumberOnly()"
            onInput="validateRange()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          />
          <!-- <p class="text-xs text-gray-400 dark:text-gray-300">--------</p> -->
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<script>
  function validateNumberOnly() {
    const value = event.key;
    if (isNaN(Number(value)) || value === " ") {
      return event.preventDefault();
    }
  }

  function validateRange() {
    const value = event.target.value;
    if (value > 100) {
      event.preventDefault();
      return (event.target.value = 100);
    }
  }
</script>
